
.c1 { background-color: black;
color: #F3F3F3;font-family: 'Roboto' sans-serif; font-size: 10px; 
}

.c2 { font-family: 'Roboto' sans-serif; font-size: 20px; color: #3C2313; font-weight: 700 }

.c8 { font-family: 'Roboto', sans-serif; font-size: 20px; color:#FFFFFF; font-weight: 700 }    

.c3 { background-color:  #F0A83E; color: white  }
    
.c4 {text-align: right; }

.c5 { text-align: left;}

.c6 { background-color:white; color:#3C2313; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 30;}

.c7 { color:#3C2313; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 30;}

.c9 {color: #FFFFFF; font-family: 'Roboto', sans-serif; font-size: 13px;}

.c10 {color: #3C2313; font-family: 'Roboto', sans-serif; font-size: 30px; text-align:content}

.c11 { color: #3C2313; font-family: 'Roboto', sans-serif; font-size: 16px;}
.c12 {color:  #FFFFFF;  font-family: 'Roboto', sans-serif; font-size: 16px; background-color: #F0A83E }
.c13 {color: #3C2313; font-family: 'Roboto', sans-serif; font-size: 40px; font-weight: 700;}
.c14 {color: #666666; font-family: 'Roboto', sans-serif; font-size: 13px; }
.c15 {color: #3C2313; font-family: 'Roboto', sans-serif; font-size: 15px; }
.c16 {color: #3C2313; font-family: 'Roboto', sans-serif; font-size: 15px; font-weight: 500;}
.c17 {color: #F0A83E; font-family: 'Roboto', sans-serif; font-size: 15px; font-weight: 500;}
.c19 {color: #3C2313; font-family: 'Roboto', sans-serif; font-size: 25px; font-weight: 700;}
.c20 {color: #FFFFFF; font-family: 'Roboto', sans-serif; font-size: 9px; font-weight: 400; background-color: #3C2313; text-align: center;}
.c21 {color:  #FFFFFF;  font-family: 'Roboto', sans-serif; font-size: 16px; background-color: #8A8787; text-align: center; }
.c22 {color: #A0A0A0; font-family: 'Roboto', sans-serif; font-size: 9px; background-color: #FFFFFF; }
.c23 {color: #FFFFFF; font-family: 'Roboto', sans-serif; font-size: 9px; background-color: #3C2313; }
.c24 {background-color: #3C2313}
.c25 {color: #FFFFFF; font-family: 'Roboto', sans-serif; font: size 20px; font-weight: 700 }
.c26 {color: #8A8787; font-family: 'Roboto', sans-serif; font: size 10px; font-weight: 700 }
.c27 {color: #FFFFFF; font-family: 'Roboto', sans-serif; font: size 20px; font-weight: 700 }
.c28 {color: #F0A83E; font-family: 'Roboto', sans-serif; font: size 20px; font-weight: 700 }
.c29 {color: #FFFFFF; font-family: 'Roboto', sans-serif; font-size: 10px; font-weight: 700; background-color:#222222; text-align: center;}



    
